@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: #121212;
    color: #ffffff;
    padding: 0.25% 1% 0 1%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    border-radius: 1.5vw;
}

.a-nav {
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    padding: 1%;
    float: left;
}

.cred-element {
    padding-top: 0.5%;
}

.credit-title {
    padding-left: 1%;
    padding-top: 1%;
    font-size: 2em;
}

.credits {
    list-style-type: none;
    padding-top: 0.25%;
}

.credit-link {
    color: #ffffff;
    text-decoration: none;
}

.credit-link:hover {
    color: #ffffffce;
    text-decoration: solid;
}

.login_button {
    float: right;
    padding: 2vh;
    padding-right: 3vh;

}

.login_button:hover {
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.centre {
    padding-left: 3%;
    padding-top: 1%;
}

.logo {
    height: 3.25vh;
    width: 3.25vh;
    padding-right: 2vh;
    text-align: center;
}


.construction {
    padding: 2.5% 0;
    font-size: 8vh;
}