@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: #121212;
    color: #ffffff;
    padding: 0.25% 1% 0 1%;
}

.navbar {
    list-style-type: none;
    overflow:hidden;
    background-color: #000;
    border-radius: 12px;
}

.a-nav {
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    height: 3em; /* hauteur du parent */
    line-height: 3em; /* hauteur de ligne (identique) */
    padding: 0 1em 0 1em;
    float: left;
    transition: transform .2s;
}

.cred-element {
    padding-top: 0.5%;
}

.credit-title {
    padding-left: 1%;
    padding-top: 1%;
    font-size: 2em;
}
.description {
    padding-bottom: 1em;
}
.credits {
    list-style-type: none;
    padding-top: 0.25%;
}

.credit-link {
    color: #ffffff;
    text-decoration: none;
}

.credit-link:hover {
    color: #ffffffce;
    text-decoration: solid;
}

.login_button {
    float: right;
    
    padding-right: 3em;

}

.login_button:hover {
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    transform: scale(1.05);
}

.centre {
    padding-left: 3%;
    padding-top: 1%;
}

.logo {

    padding: 0.5em 1em 0.5em 0em;
    text-align: center; */
}


.construction {
    padding: 2.5% 0;
    font-size: 8vh;
}